body {
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  background-color: #333;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='46' height='46' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(56, 161, 105,1)'/%3E%3Ccircle cx='-15' cy='15' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='-5' cy='25' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='5' cy='15' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='25' cy='15' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='15' cy='25' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='35' cy='25' r='1.5' fill='rgba(155, 44, 44,1)'/%3E%3Ccircle cx='15' cy='15' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='35' cy='15' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='5' cy='25' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='25' cy='25' r='1' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 1.5rem !important;
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.on-top {
  z-index: 1000;
}

.wrapper {
  max-width: 110vh;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 12rem;
}

.image {
  height: 6rem;
}

.heading {
  text-align: center;
  padding: 0 1.5rem;
  font-size: 2.5rem;
}

.main {
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.form__input {
  font-size: 2.5rem;
  color: aliceblue;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid aliceblue;
  text-align: center;
  font-family: "Acme", sans-serif;
}

.form__button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

.form__button > span {
  font-size: 3.5rem;
  transition: all 0.2s ease-in;
}

.form__button > span:hover {
  color: black;
}

.game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);

}

.game.opaque::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game__canvas {
  width: 100%;
  height: 100%;
  border: 2px solid darkslategrey;
}

.scoreboard {
  font-size: 3rem;
}

.scoreboard__value {
  margin: 1rem auto;
  width: 2rem;
}
